.card-category {
    background-size: cover;
    background-position: center;
    margin: 0px 30px;
    height: 165px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.card-title {
    height: 100%;
    font-family: 'LibreBaskerville';
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title a {
    text-decoration: none;
    color: #FF914D;
}

.card-title a:hover {
    color: #fbe269;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 74, 173, 0.7);
}