.navbar {
    background-color: #333248;
    height: 120px;
    padding-left: 1.5em;
    padding-right: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo {
    width: 100px;
    height: auto;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.menuItem {
    font-family: 'LibreBaskerville', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.menuItem a {
    text-decoration: none;
    color: #FF914D;
}

.menuItem a:hover {
    color: #fbe269;
}
